


div,p { border: 1px solid; float: left; margin:0px; }

.square {  height: 50px; background-color: coral; width: 50px; }
.hi { clear: both; background-color: purple; }
.baby { clear: both; background-color: blue; }





