body {
    margin:0px;
    font: 10pt Verdana;

    background-image: url('../../images/bg.jpg');
    background-attachment: fixed;

    color: white;
}

* { box-sizing: border-box;}
h1 { margin: 0px; }
ul { padding: 0px; margin: 0px; list-style-type: none;}
a  {text-decoration: none; color: white; }


.container {
    display: grid;

    grid-template-columns: 25vw 75vw;
    grid-template-rows: 8vh auto 8vh;

    height: 100vh;

    border-top: 1pt solid rgb(59, 59, 59);
    border-bottom: 1pt solid rgb(59, 59, 59);
}


header {
    /* grid-area: 1 / 1 / span 1 / span 2; */
    grid-column: 1 / 3;

    background-color: rgba(43, 3, 39, 0.9);
    color: white;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: flex-start;

    height: 100%;
}

header ul li {
    padding: 10px;
}

.siteName {
    flex-basis: 200px;
    font-size: 12pt;
    font-weight: bold;
}



aside {
    /* grid-area: 2 / 1 / 3 / 2; */

    
    overflow-y: auto;
    padding: 5vh;
    
    border-right: 1pt solid rgb(59, 59, 59);
    background-color: rgba(0, 0, 0, 0.9);
    color:white;
}

aside ul {
    list-style-type: disc;
    font-size: .9rem;
    margin-left: 40px;
    margin-bottom: 20px;
}
aside ul li ul{
    list-style-type: square;
    padding: 10px;
}


section {
    /* grid-area: 2 / 2 / 3 / 3; */

    text-align: justify;
    padding: 7vh;
    
    background-color: rgba(0, 0, 0, 0.9);
    color:white;
}

section p {
    /* width: 70%; */
    font-size: 10pt;
    margin-top: 30px;
    line-height: 1.5em;
    word-spacing: .1em;
}



footer {
    /* grid-area: 3 / 1 / 4 / 3; */
    grid-column: span 2;

    padding: 3vh;
    text-align: center;
    font-size: 10pt;

    background-color: rgba(43, 3, 39, 0.9);
    color: white;
}



















::-webkit-scrollbar {
    width: 4px;
  }

::-webkit-scrollbar-track {
    background: #f1f1f1;
  }  
::-webkit-scrollbar-thumb {
    background: #888;
  }
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

